body{
  margin: 0px;
  padding: 0px;
}
/* navbar */
.navbar{
  display: flex;
  background-color: #FADFBB;
  justify-content: space-between;
}
.nav-links{
  display: flex;
  flex-direction: row;
}
.Summer{
  color: black;
}
.Summer:visited{
  color: black;
}
.Summer:hover{
  font-size: larger;
}
.nav-list{
 list-style: none;
 color: black;
 margin-right: 10px;
}
.nav-list:visited{
  color: black;
}
.nav-list:hover{
  font-size: larger;
}

/* about */
.about-container{
  padding: 10px;
  height: max-content;
  background-color: #FADFBB;
  display: flex; 
  justify-content: space-around;
  flex-direction: row-reverse;
}
.about-text-container{
  width: 400px;
}
.about-header{

}
.about-text{
  
}
/* distography */
.dis-container{
  padding: 10px;
  height: max-content;
  display: flex;
  justify-content: space-around;
}
.dist-text{
  width: 400px;
}

/* projects */
.project-container{
  padding: 10px;
  height: max-content;
  background-color: #FADFBB;
  display: flex;
  flex-direction: column;
}
.projects-box{
  height: 200px;
  width: 200px;
  background-color: black;
}
.revolving-boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* contact */
.contact-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: max-content;
  margin-bottom: 10px;
}
.form-container{
  width: 500px;
  height: 600px;
}
.form-detail{
  display: flex;
  flex-direction: column;
}
.label{
  margin: 15px 0 15px 0;
}
.form-text{
  height: 25px;
}
.form-btn{
  width: 150px;
  height: 40px;
  margin-top: 20px;
}

/* Footer */
.line{
  width: 100vw;
  border-top: 2px solid black;
  margin-bottom: 15px;
}
.icon-container{
  display: flex;
  justify-content: center;
}
.footer-img{
  height: 45px;
  margin-right: 18px;
}
