body{
  margin: 0px;
  padding: 0px;
}
.navbar{
  display: flex;
  background-color: blue;
  justify-content: space-between;
}
.nav-links{
  display: flex;
  flex-direction: row;
}
.nav-list{
 list-style: none;
 margin-right: 10px;
}