body{
  margin: 0px;
  padding: 0px;
}
/* navbar */
.navbar{
  display: flex;
  background-color: blue;
  justify-content: space-between;
}
.nav-links{
  display: flex;
  flex-direction: row;
}
.nav-list{
 list-style: none;
 margin-right: 10px;
}

/* about */
.about-container{
  padding: 10px;
  width: 100vw;
  height: max-content;
  background-color: bisque;
}

/* distography */
.dis-container{
  padding: 10px;
  width: 100vw;
  height: max-content;
}

/* projects */
.project-container{
  padding: 10px;
  width: 100vw;
  height: max-content;
  background-color: bisque;
}
.projects-box{
  margin-left: 50px;
  height: 200px;
  width: 200px;
  background-color: black;
}
.revolving-boxes{
  display: flex;
  flex-direction: row;
}

/* contact */
.contact-container{
  padding: 10px;
  width: 100vw;
  height: max-content;
}
